<% if(page.comments && theme.disqus.enabled){ %>
    <div class="blog-post-comments">
        <div id="disqus_thread">
            <noscript><%= __('comments.no_js') %></noscript>
        </div>
    </div>
<% } else if(page.comments && theme.utterances.enabled){ %>
    <div class="blog-post-comments">
        <script src="https://utteranc.es/client.js"
        repo="<%= theme.utterances.repo %>"
        issue-term="<%= theme.utterances.issue_term %>"
        label="<%= theme.utterances.label %>"
        theme="<%= theme.utterances.theme %>"
        crossorigin="anonymous"
        async>
        </script>
    </div>
<% } %>